{% load static %}


<footer class="footer">
    <div class="container footer__container">
        <div class="footer__content">
            <div class="footer__col footer__col--logo">
                <img src="{% static 'images/logo.svg' %}" alt="StepHigher" class="footer__logo"/>
                <p>ИП Самуйленко А. В.</p>
                <p>ИНН: 056545499449</p>
                <p>ОГРНИП: 323656700248058</p>
                <div class="footer__socials">
                    <a href="#"><img src="{% static 'images/white.svg' %}" alt="Telegram"/></a>
                    <a href="#"><img src="{% static 'images/фыв.svg' %}" alt="VK"/></a>
                </div>
            </div>

            <div class="footer__group">
                <div class="footer__col">
                    <h4>Меню</h4>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Личный кабинет</a></li>
                    </ul>
                </div>

                <div class="footer__col">
                    <h4>Информация</h4>
                    <ul>
                        <li><a href="#">Публичная оферта</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Сотрудничество</a></li>
                    </ul>
                </div>

                <div class="footer__col">
                    <h4>Контакты</h4>
                    <ul class="footer__contacts">
                        <li><span>📍</span> г. Ростов-на-Дону</li>
                        <li><span>📞</span> 8 (800) 000-57-11</li>
                        <li><span>📞</span> 8 (900) 000-33-99</li>
                        <li><a href="mailto:tema@gmail.com">tema@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__bottom">Все права защищены</div>
    </div>
</footer>