.news-detail article {
  color: #FFF;
  font-family: @font-main;
  font-style: normal;

  .news-title {
    font-size: 68px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .news-subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  
}