{% load static %}

{% for comment in comments %}
  <div class="comment-item">
    <p class="comment-text">
      {{ comment.text }}
    </p>
    <div class="comment-meta">
      <span class="comment-date">
        <img
          src="{% static 'images/post/calendar.svg' %}"
          alt="Календарь"
          class="icon-small"
        >
        {{ comment.created_at|date:"d.m.Y H:i" }}
      </span>
      <span class="comment-author">
        <img
          src="{% static 'images/post/author.svg' %}"
          alt="Автор"
          class="icon-small"
        >
        {{ comment.author.username }}
      </span>
      {% if user.is_authenticated and user == comment.author %}
        <form
          method="post"
          action="{% url 'news_delete_comment' comment.id %}"
          style="display: inline;"
        >
          {% csrf_token %}
          <button type="submit" class="comment-delete-button">
            Удалить
          </button>
        </form>
      {% endif %}
    </div>
  </div>
{% empty %}
  <p>Комментариев нет, будьте первым!</p>
{% endfor %}

