{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <section class="blog-post-detail" style="color: #fff;">
    <div class="container blog-post-detail__container">
      <article class="blog-post-detail__article">
        <h1 class="blog-post-title">{{ post.title }}</h1>

        {% if post.short_description %}
          <p class="blog-post-subtitle">{{ post.short_description }}</p>
        {% endif %}

        <div class="blog-post-meta">
          {% if post.tags.exists %}
            <span class="blog-post-meta-label">Теги:</span>
            {% for tag in post.tags.all %}
              <a
                href="{% url 'blog_list' %}?tag={{ tag.name|urlencode }}"
                class="blog-post-tag"
              >
                #{{ tag.name }}
              </a>
            {% endfor %}
            <br>
          {% endif %}

          <span class="blog-post-date">
            {{ post.published_at|date:"d.m.Y" }}
          </span>
          <span class="blog-post-author">
            Автор: {{ post.author.username }}
          </span>
        </div>

        {% if post.image %}
          <div class="blog-post-image">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
          </div>
        {% endif %}

        <div class="blog-post-body">
          {{ post.full_description|safe }}
        </div>
      </article>

      <section class="blog-post-comments">
        <h3>Комментарии</h3>
        <p>Комментарии скоро появятся :)</p>
      </section>

      {% if recommended_posts %}
        <section class="blog-post-recommend">
          <h3>Рекомендуем прочитать</h3>
          <div class="hero-block__cards">
            {% for item in recommended_posts %}
              <div class="card hero-block__card">
                <div class="card-img-block hero-block__card-img-block">
                  {% if item.image %}
                    <img
                      src="{{ item.image.url }}"
                      alt="{{ item.title }}"
                      class="card-img hero-block__card-img"
                    >
                  {% else %}
                    <div class="card-img hero-block__card-img"></div>
                  {% endif %}
                  {% include 'blog/partials/like_button.html' with post=item %}
                </div>

                <div class="card-content hero-block__card-content">
                  <div class="card-tags hero-block__card-tags">
                    {% if item.tags.exists %}
                      {% for tag in item.tags.all %}
                        <a
                          href="{% url 'blog_list' %}?tag={{ tag.name|urlencode }}"
                          class="card-tag-link hero-block__card-tag-link"
                        >
                          #{{ tag.name }}
                        </a>
                      {% endfor %}
                    {% endif %}
                  </div>

                  <h4 class="card-title hero-block__card-title">
                    {{ item.title }}
                  </h4>

                  <p class="card-descr hero-block__card-descr">
                    {{ item.short_description|truncatewords:15 }}
                  </p>

                  <a
                    href="{% url 'blog_detail' item.slug %}"
                    class="btn-card btn-card--orange hero-block__card-link"
                  >
                    <img src="{% static 'images/Frame (1).svg' %}" alt="">
                    Читать подробнее
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>
      {% endif %}

    </div>
  </section>
{% endblock %}

{% block js_script %}
{% endblock %}
