{% extends 'base/base_auth.html' %}

{% block content %}
  <h1>Шаг 01/03</h1>
  <h1>Персональная информация</h1>

  <h2>Заполните поля ниже</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
      <label for="{{ form.username.id_for_label }}">Имя пользователя*</label><br>
      {{ form.username }}
      {% if form.username.errors %}
        <div style="color: red;">{{ form.username.errors }}</div>
      {% endif %}
    </p>
    <p>
      <label for="{{ form.email.id_for_label }}">Email*</label><br>
      {{ form.email }}
      {% if form.email.errors %}
        <div style="color: red;">{{ form.email.errors }}</div>
      {% endif %}
    </p>
    <p>
      {{ form.accept_rules }}
      <label for="{{ form.accept_rules.id_for_label }}">Я принимаю правила сайта</label>
      {% if form.accept_rules.errors %}
        <div style="color: red;">{{ form.accept_rules.errors }}</div>
      {% endif %}
    </p>
    <button type="submit">Продолжить</button>
  </form>
{% endblock %}
