{% extends 'base/base_auth.html' %}

{% block content %}
  <h1>Шаг 02/03</h1>
  <h1>Подтверждение адреса электронной почты</h1>

  <h2>Подтвердите email</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
      <label for="{{ form.code.id_for_label }}">На почту {{ email|default:"" }} отправлено письмо с кодом подтверждения</label><br>
      {{ form.code }}
      {% if form.code.errors %}
        <div style="color: red;">{{ form.code.errors }}</div>
      {% endif %}
    </p>
    <button type="submit">"Подтвердить код"</button>
  </form>

  <p>
    <a href="{% url 'signup' %}">"Вернуться к вводу Email и имени"</a>
  </p>
{% endblock %}
