{% extends 'base/base_auth.html' %}
{% load static %}

{% block content %}
    <div class="auth-page">
        <div class="auth-left">
            <div class="content-block">
                <a href="{% url 'home' %}" class="header__logo-link logo-link"><img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"/></a>
                <h1>Начните свое <br> путешествие!</h1>
            </div>
        </div>

        <div class="auth-right">
            <div class="reset-password-header">
                <a href="{% url 'restore' %}" class="back-link">Назад</a>

                <div class="step-info">
                    <div class="step-count">Шаг 02/04</div>
                    <div class="step-title">Инструкция</div>
                </div>
            </div>

            <div class="form-wrapper">
                <div class="form-container">
                    <h2>Мы отправили Вам на {{ email }} инструкцию по сбросу пароля.</h2>

                    <div class="form-separator"></div>
                    <p>
                        Если вы не получили письмо, убедитесь, что ввели тот же email, который использовали при
                        регистрации.
                        Если вы уже меняли email - введите новый.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}