{% extends 'base/base_auth.html' %}
{% load static %}

{% block content %}

    <div class="auth-page">
        <div class="auth-left">
            <div class="content-block">
                <a href="{% url 'home' %}" class="header__logo-link logo-link"><img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"/></a>
                <h1>Начните свое <br> путешествие!</h1>
            </div>
        </div>

        <div class="auth-right">
            <div class="reset-password-header">
                <a href="#"
                   class="back-link"
                   onclick="history.back(); return false;">Назад</a>

                <div class="step-info">
                    <div class="step-count">Шаг 01/04</div>
                    <div class="step-title">Сброс пароля</div>
                </div>
            </div>


            <div class="form-wrapper">
                <div class="form-container">
                    <h2>Вход в аккаунт</h2>

                    <div class="form-separator"></div>

                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-group element-1">
                            <label for="{{ form.email.id_for_label }}">Введите email для сброса пароля</label><br>
                            {{ form.email }}<br>
                            {% if form.email.errors %}
                                <div style="color: red;">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group element-4">
                            <button type="submit">Продолжить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if form.non_field_errors %}
            <div>
                {{ form.non_field_errors }}
            </div>
        {% endif %}
    </div>

{% endblock %}
