{% extends 'base/base_auth.html' %}
{% load static %}

{% block content %}
    <div class="auth-page">
        <div class="auth-left">
            <div class="content-block">
                <a href="{% url 'home' %}" class="header__logo-link logo-link"><img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"/></a>
                <h1>Начните свое <br> путешествие!</h1>
            </div>
        </div>

        <div class="auth-right">
            <div class="reset-password-header">
                <a href="{% url 'restore' %}" class="back-link">Назад</a>

                <div class="step-info">
                    <div class="step-count">Шаг 03/04</div>
                    <div class="step-title">Новый пароль</div>
                </div>
            </div>


            <div class="form-wrapper">
                <div class="form-container">
                    <h2>Отлично! осталось совсем чуть-чуть</h2>

                    <div class="form-separator"></div>

                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-group element-1">
                            <label for="{{ form.new_password1.id_for_label }}">Новый пароль*</label><br>
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <div style="color: red;">{{ form.new_password1.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group element-2">
                            <label for="{{ form.new_password2.id_for_label }}">Подтвердите пароль*</label><br>
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <div style="color: red;">{{ form.new_password2.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group element-4">
                            <button type="submit">Сменить пароль</button>
                        </div>


                        {% if form.non_field_errors %}
                            <div>
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
