{% extends 'base/base_auth.html' %}
{% load static %}

{% block content %}

    <div class="auth-page">
        <div class="auth-left">
            <div class="content-block">
                <img src="{% static 'images/Frame 4.svg' %}" alt="Logo" class="logo"/>
                <h1>Начните свое <br> путешествие!</h1>
            </div>
        </div>

        <div class="auth-right">
            <div class="back-link">Назад</div>

            <div class="form-wrapper">
                <div class="form-container">
                    <h2>Вход в аккаунт</h2>

                    <div class="form-separator"></div>

                    <form>
                        <div class="form-group ">
                            <label for="email">Email</label>
                            <input type="email" id="email" placeholder="Введите адрес электронной почты"/>
                        </div>

                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <div class="password-wrapper">
                                <input type="password" id="password" placeholder="Введите пароль"/>
                                <span class="toggle-visibility">👁</span>
                            </div>
                        </div>

                        <div class="form-group forgot-password">
                            <a href="#">Забыли пароль?</a>
                        </div>

                        <div class="form-group">
                            <button type="submit">Войти в аккаунт</button>
                        </div>

                        <div class="form-group register">
                            <span>Нет аккаунта?</span> <a href="#">Зарегистрируйтесь</a>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

    {#        <h1>Вход в аккаунт</h1>#}
    {##}
    {#        {% if form.non_field_errors %}#}
    {#            <div>#}
    {#                {{ form.non_field_errors }}#}
    {#            </div>#}
    {#        {% endif %}#}
    {##}
    {#        <form method="post">#}
    {#            {% csrf_token %}#}
    {##}
    {#            <div>#}
    {#                <label for="{{ form.email.id_for_label }}">Email</label><br>#}
    {#                {{ form.email }}#}
    {#                {% if form.email.errors %}#}
    {#                    <div>{{ form.email.errors }}</div>#}
    {#                {% endif %}#}
    {#            </div>#}
    {##}
    {#            <div>#}
    {#                <label for="{{ form.password.id_for_label }}">Пароль</label><br>#}
    {#                {{ form.password }}#}
    {#                {% if form.password.errors %}#}
    {#                    <div>{{ form.password.errors }}</div>#}
    {#                {% endif %}#}
    {#            </div>#}
    {##}
    {#            <button type="submit">Войти</button>#}
    {#        </form>#}
    {##}
    {#        <p>#}
    {#            <a href="#">Забыли пароль?</a>#}
    {#        </p>#}
    {##}
    {#        <p>#}
    {#            Нет аккаунта? <a href="#">Зарегистрируйтесь</a>#}
    {#        </p#}
    {#        >#}
{% endblock %}