{% load static %}

<!DOCTYPE html>
<html lang="ru">

{% include 'hhf/head.html' %}

<body>

<!-- toasts for Django messages -->
<div id="toast-container">
    {% for message in messages %}
        <div class="toast {{ message.tags }}">
            <button class="close-btn" onclick="closeToast(this)">×</button>
            {{ message }}
        </div>
    {% endfor %}
</div>
<!-- end toasts -->

<main class="main" style="color: #fff;">
    {% block content %}
    {% endblock %}
</main>

{% block js_script %}
{% endblock %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toasts = document.querySelectorAll('#toast-container .toast');
        toasts.forEach(function (toast, index) {
            setTimeout(function () {
                toast.classList.add('show');
            }, 100 + index * 100);

            setTimeout(function () {
                hideToast(toast);
            }, 30000 + index * 200);
        });
    });

    function hideToast(toast) {
        toast.classList.remove('show');
        setTimeout(function () {
            if (toast.parentNode) {
                toast.parentNode.removeChild(toast);
            }
        }, 300);
    }

    function closeToast(btn) {
        const toast = btn.parentElement;
        hideToast(toast);
    }
</script>
</body>
</html>