{% load static %}

<div class="dash-section">
  <h2>Избранное</h2>
  {% if posts %}
    <div class="hero-block__cards">
      {% for post in posts %}
        <div class="card hero-block__card">
          <div class="card-img-block hero-block__card-img-block">
            {% if post.image %}
              <img
                src="{{ post.image.url }}"
                alt="{{ post.title }}"
                class="card-img hero-block__card-img"
              >
            {% else %}
              <div class="card-img hero-block__card-img" style="background: #f0f0f0;"></div>
            {% endif %}
            {% include 'blog/partials/like_button.html' with post=post %}
          </div>

          <div class="card-content hero-block__card-content">
            <div class="card-tags hero-block__card-tags">
              {% for tag in post.tags.all %}
                <a href="#" class="card-tag-link hero-block__card-tag-link">#{{ tag.name }}</a>
              {% endfor %}
            </div>

            <h3 class="card-title hero-block__card-title">
              {{ post.title }}
            </h3>

            <p class="card-descr hero-block__card-descr">
              {{ post.short_description|truncatewords:20 }}
            </p>

            <a
              href="{% url 'blog:blog_detail' post.slug %}"
              class="btn-card btn-card--orange hero-block__card-link"
            >
              <img src="{% static 'images/Frame (1).svg' %}" alt="">
              Читать подробнее
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>У вас в избранном пока пусто...</p>
  {% endif %}
</div>