<div class="dash-section">
  <form
    method="post"
    action="{% url 'dashboard:settings' %}"
    class="dash-form"
    hx-post="{% url 'dashboard:settings' %}"
    hx-target="#dashboard-content"
    hx-swap="innerHTML"
  >
    {% csrf_token %}

    <div class="dash-group-settings">
      {{ form.email_subscriber }}
      {{ form.email_subscriber.label_tag }}
      {% if form.email_subscriber.errors %}
        <div class="error">{{ form.email_subscriber.errors }}</div>
      {% endif %}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-card btn-card--orange dash-btn-submit">
        Сохранить изменения
      </button>
    </div>
  </form>
</div>
